.now-playing-bar {
	background: #111;
	color: white;
	padding: 10px 0;
	text-align: center;
	font-size: 13px;

	p.recentsong {
		margin: 0;
	}
}

header {
	.big-logo {
		max-width: 165px;
		display: block;

		//margin: auto;
		//padding: 30px 0;
		padding: 10px;
	}

	&.navbar {
		font-size: 18px;
		font-family: $headings-font-family;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0px;

		.nav.navbar-nav {
			@media (min-width: $screen-lg-min) {
				margin-left: 30px;
			}
		}

		.navbar-brand {
			padding: 0px;
		}

		.navbar-brand > img {
			height: 100%;
			padding: 15px;
			width: auto;
		}
	}
}

.page-header {
	margin-top: 0;
	border: none;

	h1 {
		font-size: 62px;
		border-bottom: 1px solid #eee;
	}
}