header {
	.big-logo {
		max-width: 165px;
		display: block;

		//margin: auto;
		//padding: 30px 0;
		padding: 10px;
	}

	&.navbar {
		padding-top: 15px;
		font-size: 18px;
		font-family: $headings-font-family;
		text-transform: uppercase;
		font-weight: bold;
		margin-bottom: 0px;

		.nav.navbar-nav {
			@media (min-width: $screen-lg-min) {
				margin-left: 30px;
			}
		}

		.navbar-brand {
			padding: 0;
		}
	}
}

.news-top-holder {
	background: #eee;
}

.news-top {
	margin-bottom: 20px;
	background: #eee;
	padding-top: 15px;
	padding-bottom: 15px;

	img {
		filter: gray;

		/* IE6-9 */
		filter: grayscale(1);

		/* Microsoft Edge and Firefox 35+ */
		-webkit-filter: grayscale(1);

		/* Google Chrome, Safari 6+ & Opera 15+ */
	}

	h2 {
		font-size: 16px;
		margin-top: 10px;
	}

	.post-meta-container, .entry-summary {
		display: none;
	}
}