//Global post styles

.home {
	.featured-post {
		padding-top: 20px;
	}
}

.featured-post.container {
	margin-bottom: 50px;

	&:after {
		background-color: #b42a29;
		background-image: -webkit-linear-gradient(left, #f3f3f3 0, #8a8a8a 100%);
		background-image: -moz-linear-gradient(left, #f3f3f3 0, #8a8a8a 100%);
		background-image: -o-linear-gradient(left, #f3f3f3 0, #8a8a8a 100%);
		background-image: -ms-linear-gradient(left, #f3f3f3 0, #8a8a8a 100%);
		background-image: linear-gradient(left, #f3f3f3 0, #8a8a8a 100%);
		content: "";
		display: block;
		height: 2px;
		position: relative;
		width: 100%;
		margin: 40px 0;
	}
}

.post, .events {
	margin: 5px 0;

	img.main-image {
		width: 100%;
	}

	.entry-title {
		border-top: 3px solid $secondary-color;
		padding-top: 10px;

		a {
			color: $text-color;
		}

		span {
			float: left;
			display: block;
			margin: 3px 0;
			width: 80%;
		}
	}

	.cat-icon-container {
		float: right;
		padding-bottom: 10px;
	}
}

.post-meta-container {
	color: #747474;
	font-family: $headings-font-family;
	text-transform: uppercase;
	font-size: 14px;

	.tags a {
		color: #aaa;
	}
}

.featured-sidebar {
	h1.entry-title {
		@media (min-width: $screen-md-min) {
			font-size: 24px;
		}
	}
}

//Single posts only
.single {
	.post .entry-content {
		// p:first-of-type:first-letter {
		// 	font-family: $headings-font-family;
		// 	color: #333;
		// 	font-size: 73px;
		// 	line-height: 73px;
		// 	margin-right: 14px;
		// 	float: left;
		// 	width: 40px;
		// }

	}

	.post, .events {
		margin: 0;

		iframe {
			padding: 15px 0;
		}

		img.main-image {
			padding-bottom: 25px;
		}

		.cat-icon {
			padding: 0;
			padding-right: 15px;
		}

		.post-meta {
			.cat-icon-container {
				float: left;
			}

			@media (min-width: $screen-lg-min) {
				padding: 15px 0;
			}
		}

		h1.entry-title {
			@media (min-width: $screen-lg-min) {
				font-size: 62px;
			}
		}

		.entry-content {
			p {
				max-width: 40em;

				@media (min-width: $screen-lg-min) {
					font-size: 18px;
				}

				// margin-left: auto;
				// margin-right: auto;
		
			}

			img, figure {
				max-width: 100%;
			}
		}
	}

	.featured-post.container {}

	//Featured posts
	.featured-post {
		.post {
			.entry-title {
				font-size: 48px;

				a {
					color: $text-color;
				}
			}

			img.main-image {
				padding-bottom: 0;
			}
		}
	}

	//Sidebar social icons
	.article-social-container-main {
		margin: 25px 0;

		&.affix-bottom {
			position: absolute;
		}

		&.affix {
			position: static;
		}

		@media (min-width: $screen-lg-min) {
			&.affix {
				position: fixed;
				top: 35px;
			}
		}

		.article-social {
			@media (min-width: $screen-lg-min) {
				//float: right;

				& li:first-child {
					border: none;
				}

				& li {
					border-bottom: 1px solid #ddd;
					display: block;
					margin-right: 0;
					width: 80px;

					a.download {
						//text-align: center;
				
					}
				}

				& a, span.social-label {
					padding: 7px 0 5px;
				}

				a.download {
					padding: 3px;
				}

				span.social-label {
					display: block;
				}
			}
		}
	}

	//Default horizontal social icons
	.article-social {
		font-family: $font-family-sans-serif;
		list-style: none;
		margin: 0;
		font-size: 13px;
		padding: 0;

		& li {
			display: inline-block;
			margin-right: 1em;
		}

		& a {
			color: #444;
			display: block;

			&.download {
				color: $brand-primary;
			}
		}
	}
}

//Related Posts
.related_post {
	padding: 0;

	li {
		list-style-type: none;

		@include make-row;

		//@include make-md-column(4);

		// @include make-sm-column(4);

		// @include make-xs-column(8);

	}

	.wp_rp_thumbnail {
		//padding-right: 15px;

		//padding-left: 40px;
		@include make-xs-column(7);

		padding-bottom: 10px;

		img {
			width: 100%;
			height: auto;
		}
	}

	.wp_rp_title {
		@include make-xs-column(5);

		// @include make-sm-column(8);

		// @include make-xs-column(8);
		color: #000;
		font-family: $headings-font-family;

		@extend h2;

		margin: 0;
		padding-top: 10px;
		font-size: 25px;

		@media (min-width: $screen-sm-min) {
			font-size: 18px;
		}
	}
}