.sidebar {
	section h1 {
		font-size: 18px;
		font-weight: bold;
		text-transform: uppercase;
	}

	article {
		img.main-image {
			padding-bottom: 5px;
		}

		.entry-title {
			font-size: 18px;
			margin-top: 0;
		}
	}
}