.fixedsticky {
	top: 0;
}

.cat-icon {
	max-width: 50px;
	padding: 0 5px;
}

.archive .cat-icon {
	max-width: 30px;
}

.news-top-holder {
	background: #f7f7f7;
	overflow: scroll;
	box-shadow: rgba(73, 73, 73, 0.2) 0px 2px 6px 0px;
}

.news-top {
	//margin-bottom: 20px;
	width: 1000px;

	.row {
		padding: 0;
	}

	@media (min-width: $screen-lg-min) {
		width: 1170px;
	}

	img {
		//filter: gray;

		/* IE6-9 */
		//filter: grayscale(1);

		/* Microsoft Edge and Firefox 35+ */
		//-webkit-filter: grayscale(1);

		/* Google Chrome, Safari 6+ & Opera 15+ */
	}

	h2 {
		font-size: 16px;
		margin-top: 10px;
	}

	.post-meta-container, .entry-summary {
		display: none;
	}

	.cat-icon {
		max-width: 30px;
		float: left;
		padding-bottom: 50px;
	}
}

.feed-content-container {}

.feed-content {
	background-size: cover;
}

@mixin clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}