.fixedsticky {
	top: 0;
}

.cat-icon {
	max-width: 50px;
	padding: 0 5px;
}

.news-top-holder {
	background: #f7f7f7;
	overflow: scroll;
	box-shadow: rgba(73, 73, 73, 0.2) 0px 2px 6px 0px;
}

.wrap {
	padding-bottom: 100px;
}

.nav-links {
	a {
		@extend .btn;

		@extend .btn-large;

		//@extend .btn-block;

	}

	&:after {
		@extend .clearfix;
	}

	.nav-previous {
		display: inline-block;
		float: right;

		a {
			@extend .btn-primary;

			&:after {
				content: " \2192";
				padding-right: 5px;
			}
		}
	}

	.nav-next {
		display: inline-block;
		float: left;

		a {
			@extend .btn-default;

			&:before {
				content: "\2190 ";
				padding-left: 5px;
			}
		}
	}
}

.news-top {
	//margin-bottom: 20px;
	width: 1000px;

	.row {
		padding: 0;
	}

	@media (min-width: $screen-lg-min) {
		width: 1230px;
	}

	img {
		//filter: gray;

		/* IE6-9 */
		//filter: grayscale(1);

		/* Microsoft Edge and Firefox 35+ */
		//-webkit-filter: grayscale(1);

		/* Google Chrome, Safari 6+ & Opera 15+ */
	}

	h2 {
		font-size: 16px;
		margin-top: 10px;
	}

	.post-meta-container, .entry-summary {
		display: none;
	}

	.cat-icon-container {
		float: left;
	}

	.cat-icon {
		max-width: 30px;
		float: left;
		padding-bottom: 50px;
	}
}

.feed-content-container {}

.feed-content {
	background-size: cover;
}

@mixin clearfix {
	&:before, &:after {
		content: " ";
		display: table;
	}

	&:after {
		clear: both;
	}
}

.btn-circle {
	width: 30px;
	height: 30px;
	text-align: center;
	padding: 6px 0;
	font-size: 12px;
	line-height: 1.428571429;
	border-radius: 50%;
}

.btn-circle.btn-lg {
	width: 50px;
	height: 50px;
	padding: 10px 16px;
	font-size: 18px;
	line-height: 1.33;
	border-radius: 50%;
}

.btn-circle.btn-xl {
	width: 70px;
	height: 70px;
	padding: 10px 16px;
	font-size: 24px;
	line-height: 1.33;
	border-radius: 50%;
}